#catlinks {
    display: none;
}

a[href]:after {
    content: none;
}

a.external[href]:after {
    content: " (" attr(href) ")";
}

.noprint,
div#jump-to-nav,
.mw-jump,
div.top,
div#column-one,
#colophon,
.mw-editsection,
.toctoggle,
.tochidden,
div#f-poweredbyico,
div#f-copyrightico,
li#viewcount,
li#about,
li#disclaimer,
li#mobileview,
li#privacy,
#footer-places,
.mw-hidden-catlinks,
tr.mw-metadata-show-hide-extended,
span.mw-filepage-other-resolutions,
#filetoc,
.usermessage,
#mw-navigation {
    /* Hides all the elements irrelevant for printing */
    display: none;
}

article header h1,
article h1,
article h2 {
    background-image: none;
    padding-left: 0; /* The spacing for the image should be gone */
}
